extends tpls/layout
block content
    //ul
        li
            a(href="/") index
        li
            a(href="/reports") reports
        li
            a(href="/create") create

    div(id="users", class="users")
        //div(class="item left")
            !{workers.petrov}

        //div(class="item right")
            !{workers.tabasov}

        //div(class="item")
            !{workers.korshakovcki}

    form(method="get", action="/")
        select(name="reportPicker")
            each _data in data
                option(value=_data.id) #{_data._date}
        input(type="submit", value="ok")

    - if (actualRow) {
        div.article-wrap
            article.piece
                div.piece-visuel
                    | <strong>graph</strong>
                    p(id="tasks")
                    input(type='hidden', id='GraphCollector', name='GraphCollector', value=actualRow.graph)
                    div(class='ct-chart')
                div.piece-description
                    div.vcenter
                        div.inner
                            header
                                h1 <strong>личный кабинет юр. лиц</strong>
                                span.piece-by tratata

                            p #{actualRow.lku} lkjlskdjf

            article.piece
                div.piece-visuel
                    | <strong>личный кабинет физ. лиц</strong>
                    p #{actualRow.lkf}
                div.piece-description
                    div.vcenter
                        div.inner
                            header
                                h1 <strong>сайт Робокасса</strong>
                                span.piece-by trarara2

                            p #{actualRow.rb}

            article.piece
                div.piece-visuel
                    | <strong>проект Витрина</strong>
                    p #{actualRow.sc}
                div.piece-description
                    div.vcenter
                        div.inner
                            header
                                h1 <strong>платежные страницы</strong>
                                span.piece-by trololo

                            p #{actualRow.pp}

            article.piece
                div.piece-visuel
                    | <strong>остальные сервисы и проекты</strong>
                    p #{actualRow.rest}
                div.piece-description
                    div.vcenter
                        div.inner
                            header
                                h1 tasks
                                span.piece-by
                            !{tf}
    -}

include tpls/footer