extends tpls/layout
block content
    //ul
        li
            a(href="/") index
        li
            a(href="/reports") reports
        li
            a(href="/create") create

    div(id="users", class="users")
        div(class="item left")
            | petrov <strong>just nothing</strong>
        div(class="item right")
            | korhakovcki <strong>task #000111</strong>
        div(class="item")
            | tabasov <strong>divide et impera</strong>

    form(method="get", action="/")
        select(name="reportPicker")
            each _data in data
                option(value=_data.id) #{_data._date}
        input(type="submit", value="ok")

    - if (actualRow) {
        ul.rep
            li
                | <strong>graph</strong>
                p(id="tasks")
                input(type='hidden', id='GraphCollector', name='GraphCollector', value=actualRow.graph)
                //p(id='GraphCollector') #{actualRow.graph}
                div(class='ct-chart')
            li
                | <strong>личный кабинет юр. лиц</strong>
                p #{actualRow.lku}
            li
                | <strong>личный кабинет физ. лиц</strong>
                p #{actualRow.lkf}
            li
                | <strong>сайт Робокасса</strong>
                p #{actualRow.rb}
            li
                | <strong>проект Витрина</strong>
                p #{actualRow.sc}
            li
                | <strong>платежные страницы</strong>
                p #{actualRow.pp}
            li
                | <strong>остальные сервисы и проекты</strong>
                p #{actualRow.rest}
            li
                !{tf}
    -}

include tpls/footer