extends tpls/layout
block content
    //ul
        li
            a(href="/") index
        li
            a(href="/reports") reports
        li
            a(href="/create") create

    div(id="users", class="users")
        //div(class="item left")
            !{workers.petrov}

        //div(class="item right")
            !{workers.tabasov}

        //div(class="item")
            !{workers.korshakovcki}

    form(method="get", action="/")
        select(name="reportPicker")
            each _data in data
                option(value=_data.id) #{_data._date}
        input(type="submit", value="ok")

    - if (actualRow) {
        div.article-wrap
            div
                //| <strong>graph</strong>
                p(id="tasks")
                input(type='hidden', id='GraphCollector', name='GraphCollector', value=actualRow.graph)
                div(class='ct-chart')

            article.piece.workers
                div.piece-visuel
                    div.vcenter
                        div.inner
                            header
                                h1 личный кабинет юр. лиц
                                    span.piece-by tratata

                                p #{actualRow.lku} lkjlskdjf

                div.piece-description
                    div.vcenter
                        div.inner
                            header
                                h1 загруженность
                                    span обновляется раз в 3 часа
                                p Петров !{workers.petrov} <span></span>
                                p Табасов !{workers.tabasov} <span></span>
                                p Коршаковский !{workers.korshakovcki} <span></span>
            article.piece
                div.piece-visuel
                    div.vcenter
                        div.inner
                            header
                                h1 личный кабинет физ. лиц
                                span osdf

                            p #{actualRow.lkf}
                div.piece-description
                    div.vcenter
                        div.inner
                            header
                                h1 сайт Робокасса
                                span.piece-by trarara2

                            p #{actualRow.rb}

            article.piece
                div.piece-visuel
                    div.vcenter
                        div.inner
                            header
                                h1 проект Витрина
                                span sdl;jkf
                            p #{actualRow.sc}
                div.piece-description
                    div.vcenter
                        div.inner
                            header
                                h1 платежные страницы
                                span.piece-by trololo

                            p #{actualRow.pp}

            article.piece
                div.piece-visuel
                    div.vcenter
                        div.inner
                            header
                                h1 остальные сервисы и проекты
                                span 0-ol
                            p #{actualRow.rest}
                div.piece-description
                    div.vcenter
                        div.inner
                            header
                                h1
                                span.piece-by

            div.report
                !{tf}

    -}

include tpls/footer